name: Run Tests and Linting

on:
  pull_request:
    branches:
      - master

jobs:
  deploy:
    name: Run Tests and Linting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Ref
        uses: actions/checkout@v1
      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
      - name: Run Tests and Lint
        run: bash -e ./scripts/test.sh
        env:
          NPM_TOKEN: ""

